   <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-bullhorn icon-white"></i> Important tasks for this week</li>
	       <li><a href="#"><i class="icon-date icon-white"></i> Clean my flat</a></li>
	       <li><a href="#"><i class="icon-date icon-white"></i> Buy tickets to Paris</a></li>
	       <hr/>
	       <li class="nav-header"><i class="icon-cog icon-white"></i> Settings</li>
	       <li><a href="#"><i class="icon-date icon-white"></i> Date & Time</a></li>
	       <li><a href="#"><i class="icon-date icon-white"></i> Send Invite to someone</a></li>
	       <li class="nav-header"><i class="icon-user icon-white"></i> Users</li>
	       <li><a href="#"><i class="icon-date icon-white"></i> Send task to someone</a></li>
            </ul>
          </div>
        </div>

